/********************************************************************************************************/
/* 20. Адаптивная верстка в CSS. Desktop и mobile first. Медиазапросы @media. Свойства min-max размеров */
/********************************************************************************************************/

html {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin: 20px;
}

.div1 {
  background-color: lightseagreen;
  height: 200px;
  width: 80vw;
  min-width: 400px;
  max-width: 800px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
  padding: 20px;
}

.icon-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: lightgray;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.icon-container img {
  width: 200px;
  height: 200px;
  border: 2px dashed white;
}

.icon-container h2 {
  text-align: center;
  font-size: 20px;
  margin: 10px 0 0 0;
  width: 200px;
}

@media (max-width: 999px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 719px) {
  h1 {
    font-size: 32px;
  }
}

@media (max-width: 639px) {
  h1 {
    font-size: 28px;
  }
}

@media (max-width: 569px) {
  h1 {
    font-size: 24px;
  }

  .container {
    grid-template-columns: 1fr;
  }
}

/* Примечание. Не адаптированы icon-containers и h1 при маленьких размерах, это просто небольшая практика */
