/*********************************************************************************/
/* 2. Гайд по CSS-селекторам, расчёт специфичности в CSS. Приоритет и вес стилей */
/*********************************************************************************/

/* Селектор по тегу */
h1 {
  color: yellowgreen;
}

/* Селектор по классу */
.first-list-item {
  color: brown;
}

/* Селектор по атрибуту */
[type="text"] {
  color: blue;
}

/* Селектор по атрибуту с вхождением в него подстроки */
[href*="youtube"] {
  color: green;
}


/***************************************************************************************************/
/* 3. Блочная модель в CSS — свойства display, width, height, padding, margin, border и box-sizing */
/* 4. CSS внутренние и внешние отступы — свойства padding и margin. Схлопывание отступов           */
/***************************************************************************************************/

.box-1 {
  background-color: yellow;
  width: 500px;
  height: 200px;
  padding: 20px;
  margin: 10px 20px 30px 40px;
  border: 10px solid red;
  box-sizing: border-box;
}

.box-2 {
  background-color: green;
  width: 200px;
  height: 300px;
  padding-left: 40px;
  padding-bottom: 25px;
  margin-right: 35px;
  margin-top: 10px;
  border: 5px dashed blue
}


/********************************************************************************************/
/* 6. CSS шрифты — способы подключения, правило font-face, свойство font и другие параметры */
/********************************************************************************************/

@font-face {
  font-family: "Roboto";
  src: url("./styles/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: sans-serif;
}

h1,
h2, 
h3 {
  font-family: "Roboto", sans-serif;
}


/***************************************************************************************************/
/* 7. Цвета в CSS. Форматы RGB, HEX, HSL. Свойство color, ключевые слова transparent, currentColor */
/***************************************************************************************************/

.color-red {
  color: red;
}

.color-transparent {
  color: transparent;
}

.color-rgb-0-255-0 {
  color: rgb(0 255 0);
}

.color-0095DA {
  color: #0095DA;
}

.margin-padding-0 {
  margin: 0px;
  padding: 0px;
}

.color-currentColor {
  width: 300px;
  color: rgb(50 50 50 / 0.8);
  border: 5px solid currentColor;
}


/*********************************************************************************************/
/* 8. CSS фоновый цвет, изображение, градиент — свойство background, функция linear-gradient */
/*********************************************************************************************/

.box-81 {
  background-color: rgb(80 80 80 / 0.9);
  width: 100px;
}

.box-82 {
  background-image: url("./content/space.png");
  width: 250px;
  height: 250px;
}

.box-83 {
  background-image: linear-gradient(#FF0000, #00FF00, #0000FF);
  width: 400px;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}


/*************************************************************************/
/* 9. CSS рамка border, обводка outline, тени box-shadow, фильтры filter */
/*************************************************************************/

.box-91 {
  width: 300px;
  box-sizing: border-box;
  color: white;
  margin: 40px;
  padding: 10px;
  background-color: rgb(28, 52, 115);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 40px;
  border-right-width: 10px;
  border-right-color: aqua;
  border-right-style: dotted;
  border-bottom-width: 5px;
  border-bottom-color: rgb(31, 133, 74);
  border-bottom-style: solid;
  outline-width: 20px;
  outline-style: dashed;
  outline-color: green;
}

.box-92 {
  width: 400px;
  height: 400px;
  margin: 100px;
  background-color: #0095DA;
  border: 5px #6334c2 solid;
  box-shadow: 10px 20px 4px rgb(0 0 40 / 0.9);
}


/*******************************************************************************************************/
/* 10. CSS позиционирование — свойства position, top, right, bottom, left, z-index. Контекст наложения */
/*******************************************************************************************************/

.box-10-1 {
  color: white;
  font-weight: 700;
  font-size: 30px;
  box-sizing: border-box;
  width: 256px;
  height: 256px;
  padding: 10px;
  background-color: yellow;
  background-image: url("./content/space.png");
  background-repeat: no-repeat;
  position: relative;
  top: 300px;
  left: 300px;
}

.box-10-2 {
  color: white;
  font-weight: 600;
  font-size: 40px;
  box-sizing: border-box;
  width: 450px;
  height: 450px;
  padding: 25px;
  background-image: radial-gradient(rgb(50 100 150), rgb(150 200 250));
  position: absolute;
  top: 220px;
  left: 220px;
  box-shadow: 10px 10px 5px #2c1080;
}

.box-10-3 {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
  box-sizing: border-box;
  width: 324px;
  height: 648px;
  padding: 30px;
  background-color: rgb(30 60 90 / 0.6);
  position: sticky;
}

.box-10-4 {
  color: #00FF00;
  font-family: monospace;
  font-size: 20px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-left: 300px;
  width: 256px;
  height: 128px;
  padding: 10px 20px 30px 40px;
  background-image: linear-gradient(#000000, #CCCCCC);
  position: relative;
  z-index: 100;  
}


/*********************************************************************************************/
/* 11. Единицы измерения в CSS — px, %, em, rem, vw, vh. Относительные и абсолютные величины */
/*********************************************************************************************/

.box-11-px {
  background-color: lightblue;
  width: 200px;
  color: black;
  font-size: 20px;
}

.box-11-persent-parent {
  background-color: yellowgreen;
  width: 70%;
  color: grey;
  font-size: 30px;
}

.box-11-persent-child {
  background-color: grey;
  width: 50%;
  color: yellowgreen;
  font-size: 15px;
}

.box-11-em-parent {
  background-color: lightseagreen;
  width: 10em;
  color: #6334c2;
}

.box-11-em-child-1 {
  background-color: lightcoral;
  width: 5em;
  font-size: 20px;
  color: white;
}

.box-11-em-child-2 {
  background-color: lightskyblue;
  width: 1em;
  color: black;
}

.box-11-viewport {
  background-image: linear-gradient(rgb(12 34 56 / 0.5), rgb(65 43 21 / 0.75));
  width: 40vw;
  /* height: 70vh; */
  color: white;
  font-weight: 900;
  font-size: 2rem;
  padding: 20px;
}
