/*********************************************************************************/
/* 2. Гайд по CSS-селекторам, расчёт специфичности в CSS. Приоритет и вес стилей */
/*********************************************************************************/

/* Селектор по тегу */
h1 {
  color: yellowgreen;
}

/* Селектор по классу */
.first-list-item {
  color: brown;
}

/* Селектор по атрибуту */
[type="text"] {
  color: blue;
}

/* Селектор по атрибуту с вхождением в него подстроки */
[href*="youtube"] {
  color: green;
}


/***************************************************************************************************/
/* 3. Блочная модель в CSS — свойства display, width, height, padding, margin, border и box-sizing */
/* 4. CSS внутренние и внешние отступы — свойства padding и margin. Схлопывание отступов           */
/***************************************************************************************************/

.box-1 {
  background-color: yellow;
  width: 500px;
  height: 200px;
  padding: 20px;
  margin: 10px 20px 30px 40px;
  border: 10px solid red;
  box-sizing: border-box;
}

.box-2 {
  background-color: green;
  width: 200px;
  height: 300px;
  padding-left: 40px;
  padding-bottom: 25px;
  margin-right: 35px;
  margin-top: 10px;
  border: 5px dashed blue
}


/********************************************************************************************/
/* 6. CSS шрифты — способы подключения, правило font-face, свойство font и другие параметры */
/********************************************************************************************/

@font-face {
  font-family: "Roboto";
  src: url("./styles/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: sans-serif;
}

h1,
h2, 
h3 {
  font-family: "Roboto", sans-serif;
}


/***************************************************************************************************/
/* 7. Цвета в CSS. Форматы RGB, HEX, HSL. Свойство color, ключевые слова transparent, currentColor */
/***************************************************************************************************/

.color-red {
  color: red;
}

.color-transparent {
  color: transparent;
}

.color-rgb-0-255-0 {
  color: rgb(0 255 0);
}

.color-0095DA {
  color: #0095DA;
}

.margin-0 {
  margin: 0;
}

.color-currentColor {
  width: 300px;
  color: rgb(50 50 50 / 0.8);
  border: 5px solid currentColor;
}
