/*********************************************************************************/
/* 2. Гайд по CSS-селекторам, расчёт специфичности в CSS. Приоритет и вес стилей */
/*********************************************************************************/

/* Селектор по тегу */
h1 {
  color: yellowgreen;
}

/* Селектор по классу */
.first-list-item {
  color: brown;
}

/* Селектор по атрибуту */
[type="text"] {
  color: blue;
}

/* Селектор по атрибуту с вхождением в него подстроки */
[href*="youtube"] {
  color: green;
}
